<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    default-autowire="byName" default-lazy-init="false">
	<tx:annotation-driven />
	<aop:aspectj-autoproxy />
	<!-- define dataSource c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="minPoolSize" value="${jdbc.minPoolSize}"/>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
		<property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>
		<property name="acquireIncrement" value="${jdbc.acquireIncrement}"/>
		<property name="maxStatements" value="${jdbc.maxStatements}"/>
		<property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
		<property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod}"/>
		<property name="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}"/>
		<property name="breakAfterAcquireFailure" value="${jdbc.breakAfterAcquireFailure}"/>
		<property name="testConnectionOnCheckout" value="${jdbc.testConnectionOnCheckout}"/>
	</bean>

	<!--Hibernate SessionFatory-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

	   	<property name="mappingResources">
			<list>
				<value>com/focus/cos/web/user/User.hbm.xml</value>
				<value>com/focus/cos/web/ops/Sysalarm.hbm.xml</value>
				<value>com/focus/cos/web/ops/Sysnotify.hbm.xml</value>
				<value>com/focus/cos/web/ops/Notice.hbm.xml</value>
				<value>com/focus/cos/web/ops/EmailOutbox.hbm.xml</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
				<prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
				<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
				<prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
			</props>
		</property>
	</bean>
	
	<!--Hibernate TransactionManager-->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="paginateProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="paginate" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="query*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="txProxyTemplate" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="modify*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="do*">PROPAGATION_REQUIRED</prop>
				<prop key="handle*">PROPAGATION_NESTED</prop>
				<prop key="find*">PROPAGATION_REQUIRED</prop>
				<prop key="query*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="paginate" class="com.focus.cos.web.common.paginate.PaginateImp">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* com.focus.cos.web..*Mgr.*(..))" advice-ref="txAdvice" />
	</aop:config>
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="confirm*" propagation="REQUIRED"/>
			<tx:method name="write*" propagation="REQUIRED" />
			<tx:method name="do*" propagation="REQUIRED" />
			<tx:method name="handle*" propagation="NESTED" />
			<tx:method name="merge*" propagation="NESTED" />
			<tx:method name="query*" propagation="NESTED" />
		</tx:attributes>
	</tx:advice>
	
	<!-- spring jdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="JDBCBaseDAO" class="com.focus.cos.web.common.jdbc.JDBCBaseDAO">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>

	<bean id="UserDAO" class="com.focus.cos.web.user.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	<bean id="SysalarmDAO" class="com.focus.cos.web.ops.dao.SysalarmDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="paginate">
			<ref bean="paginateProxy" />
		</property>
	</bean>
	<bean id="SysnotifyDAO" class="com.focus.cos.web.ops.dao.SysnotifyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NoticeDAO" class="com.focus.cos.web.ops.dao.NoticeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="EmailOutboxDAO" class="com.focus.cos.web.ops.dao.EmailOutboxDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="paginate">
			<ref bean="paginateProxy" />
		</property>
		<property name="dbPropMap">
			<props>
				<prop key="database">${hibernate.dialect}</prop>
			</props>
		</property>	
	</bean>
</beans>