<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE1" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[COS %d{HH:mm:ss}]%5p %F:%L %m%n"/>
		</layout>
	</appender>
	<appender name="FILE1" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="File" value="${catalina.base}/logs/cos.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss}]%5p %F:%L %m%n"/>
		</layout>
	</appender>
   	<category name="java">
      	<priority value="ERROR"/>
   	</category>
   	<category name="javax">
      	<priority value="ERROR"/>
   	</category>
   	<category name="org">
      	<priority value="ERROR"/>
   	</category>
   	<category name="com">
      	<priority value="ERROR"/>
   	</category>
   	<category name="net">
    	<priority value="ERROR"/>
   	</category>
   	<category name="org.apache.zookeeper">
      	<priority value="ERROR"/>
   	</category>
   	<category name="httpclient.wire.header">
      	<priority value="ERROR"/>
   	</category>
   	<category name="httpclient.wire.content">
      	<priority value="ERROR"/>
   	</category>
   	<category name="org.apache.commons.httpclient">
      	<priority value="ERROR"/>
   	</category>
   	<category name="com.focus.cos">
      	<priority value="INFO"/>
   	</category>
   	<category name="com.focus.cos.web">
      	<priority value="INFO"/>
   	</category>
   	<root>
      	<appender-ref ref="CONSOLE1"/>
      	<appender-ref ref="FILE1"/>
   	</root>
</log4j:configuration>